@import "settings";
@import "foundation";
body,html,section{
	height:100%;
	width:100%;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #CACCCA 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #CACCCA 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #CACCCA 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #FFFFFF), color-stop(1, #CACCCA));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #CACCCA 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #CACCCA 100%);
}
#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	height:100%;
}
.content{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	z-index:999;
	height:75px;
	text-align:center;
	background: rgba(0, 0, 0, 0.7);

	form{
	width:300px;
	margin:0 auto;

		input{
			width:178px;
			float:left;
			height: 51px;
		}
	}
}
.main_text{
	position:absolute;
	width:100%;
	text-align:center;
	top: 10%;

	form{
		width: 320px;
		margin: 0 auto;

		input{
			width: 200px;
			margin: 0 auto;
			float: left;
			height: 51px;
		}
	}

}
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}