@import "settings";
@import "foundation";
body,html,section{height:100%;width:100%}
#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
	height:100%;
}
.content{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	z-index:999;
	height:75px;
	text-align:center;
	background: rgba(0, 0, 0, 0.7);

	form{
	width:300px;
	margin:0 auto;

		input{
			width:178px;
			float:left;
			height: 51px;
		}
	}
}
.main_text{
	position:absolute;
	width:100%;
	text-align:center;
	top: 10%;

	form{
		width: 320px;
		margin: 0 auto;

		input{
			width: 200px;
			margin: 0 auto;
			float: left;
			height: 51px;
		}
	}

}
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}